* {
  box-sizing: border-box;
}

body {
  background-color: #F6F5F5 ; /* фоновый цвет */
  padding: 15px;
  font-family: 'Inter', sans-serif;
}
.page-wrapper {
  max-width: 390px;
  margin: auto;
  background: rgba(154, 154, 154, 0.23);
  box-shadow: 0px 4px 30px rgba(163, 163, 163, 0.25);
  border-radius: 20px;
 }

 .container {
   max-width: 300px;
   margin: auto;
 }

.hello {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

 .header {
  color: #fff;
  padding: 16px 16px 134px;
  background: url('../img/header-bg.png') no-repeat center / cover;
  border-radius: 10px 10px 0px 0px;
  width: 391px;
  height: 180px;
 }
 .hello-text  {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
 }

 .user {
  text-align: left;
  font-size: 10px;
 }

 .user-avatar {
  border-radius : 50%;
  object-fit: cover ;
  bottom: 4px solid #fff;
 }