* {
  box-sizing: border-box;
}

body {
  background-color: #F6F5F5 ; /* фоновый цвет */
  padding: 15px;
  font-family: 'Inter', sans-serif;
}
.page-wrapper {
  overflow: hidden;
  max-width: 390px;
  margin: auto;
  background: rgba(154, 154, 154, 0.23);
  box-shadow: 0px 4px 30px rgba(163, 163, 163, 0.25);
  border-radius: 20px;
 }

 .container {
   max-width: 300px;
   margin: auto;
 }

.hello {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

 .header {
  color: #fff;
  padding: 16px 16px 134px;
  background: url('../img/header-bg.png') no-repeat center / cover;
  border-radius: 10px 10px 0px 0px;
  width: 391px;
  height: 180px;
 }
 .hello-text  {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
 }


 .user {
  text-align: left;
  font-size: 10px;
 }

 .user-avatar {
  margin-top: -40px;
  margin-left: -30px;
  border-radius : 50%;
  object-fit: cover ;
  bottom: 4px solid #fff;
  background: url(telegram-peer-photo-size-2-1713407165163743222-1-0-0.jpg);
  border: 4px solid #FFFFFF;
 }

 .user-name {
  margin-top: -48px;
  text-align: right;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
 }

 .user-discription {
  color: #909090;
  margin-top: -10px;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
 }

 .card {
  background: rgba(41, 41, 41, 0.11);
  border-radius: 20px; 
  margin-top: 21px;
  margin-bottom: 225px;
  padding: 20px 20px 82px; 
 }

.buttons {
  display: flex;
  justify-content: space-between;
  max-width: 310px;
  margin: auto ;
  gap: 30px;
}

 .button {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  flex-shrink: 1;
  width: 100%;
  border-radius: 10px;
  text-decoration: none;
  color: #fff; 
  gap: 30px;
 }

 .button.whatsapp {
  background: #25D366;
 }

 .button.telegram {
  background: #0088CC;
 }

 .zametka {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-left: 20px;
  padding-right: 20px;
 }

 .footer {
  background: rgba(41, 41, 41, 0.08);
  border-radius: 20px;
  margin-bottom: 30px;
  padding: 20px;
  line-height: 20px;
  gap: 14px;
 }

.button-work {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 41px;
  border-radius: 10px;
  text-decoration: none;
  color: #fff; 
}

.button-summary {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 41px;
  border-radius: 10px;
  text-decoration: none;
  color: #fff; 
}